body{
	background: #F8F6F7;
}
nav{
	background: #A9B5AE;
}
nav a{
	font-family: Microsoft JhengHei;
	color: #8F857D;
	font-size: 24px;
	font-weight: bold;
}
nav a:hover{
	color: #58444B;
}

nav img{
	width: 180px;
	height: 80px;
	margin-top: 6%;
	margin-bottom: 1%
}
nav div{
	text-align: center;
}
header{
	background: #A9B5AE;
}
header img{
	width: 200px;
	height: 200px;
	border:#58444B 1px solid; 
	transform:scale(1,1);
	transition: all 0.5s ease-out;
	margin-top: 1%;
	margin-bottom: 2%
}
header img:hover{
	transform:scale(1.1,1.1);
}
header div{
	text-align: center;
}
header div.p{
	color:  #5B4434;
	font-size: 20px;
	font-family: Microsoft JhengHei;
	padding-bottom: 5%;
}
.Contact{
	width: 80px;
	height: 140px;
	position: fixed; 
    top: 60%;
    left: -10px; 
    background: #A9B5AE;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.Contact:hover{
    left: 10px;

}
.Contactimg{
	width: 50px;
	height: 50px;
	margin: 10px 15px;
}
.container{
	background: #E4E3E5;
}
.center{
	text-align: center;
}
.left{
	margin: 40px 40px;
}
.right{
	margin-top: 10%;
}
.sec{
	text-align: center;
}
.sec-img1{
	width: 240px;
	height: 315px;
}
.selfimg{
	transform:scale(1,1);
	transition: all 0.4s ease-out;
}
.selfimg:hover{
	transform:scale(0.9,0.9);
}
.sec-p1{
	font-family: Microsoft JhengHei;
	color: #8F857D;
	font-size: 40px;
} 
.sec-p2{
	font-family: Microsoft JhengHei;
	color: #5B4434;
	font-size: 20px;
	line-height: 45px;
}
.sec-img2{
	margin-top:2%;
}
.sec-title{
	font-family: Microsoft JhengHei;
	color: #5B4434;
	font-size: 30px;
	font-weight: bold;
	margin-top: 3%;
}
.timeline-section{
  position: relative;
}
.timeline-section:after{
  content:"";
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: #58444B; 
}
.timeline-pointer{
  position: relative;
}
.timeline-pointer:after{
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #58444B;
  transform: translateX(-50%);
  background-color: #58444B;
  z-index: 1;
  margin-top: 20px;
}
.timeline-h3{
	font-family: Microsoft JhengHei;
	color: #58444B;
	text-align: right;
	margin-right: 40px;
	margin-top: 10px;
}
.timeline-left-p{
	font-family: Microsoft JhengHei;
	color: #58444B;
	text-align: right;
	margin-right: 40px;
	margin-top: 10px;
}
.timeline-right-p{
	font-family: Microsoft JhengHei;
	color: #58444B;
	text-align: left;
	margin-left: 40px;
	margin-top: 20px;
}
div.boxsize {
	box-sizing: border-box;
}
div.boxsize img {
	max-width: 100%; 
	vertical-align: middle;
}
div.boxsize p{
	font-family:Microsoft JhengHei;
	letter-spacing: 0.1em; 
	line-height: 0.8; 
	font-size: 20px;
	color: #5B4434;
	font-weight: bold;
}
.port-6.effect-3 img{
	transition: 0.5s;
}
.port-6.effect-3:hover img{
	transform: scale(0.7) translateY(-15%); 
	position: relative; 
	z-index: 9;
}
.text-desc{
	transform: translateY(100%); 
	opacity: 0; 
	transition: 0.5s;
}
.port-6.effect-3:hover .text-desc{
	transform: translateY(-100%); 
	opacity: 1;
}
.interest-border{
	width: 70%;
	border: #8F857D 5px dashed; 
	border-radius:25px;
	margin-left: 15%;
	margin-top: 3%;
}
.interest{
	width: 150px;
	margin: 15px 25px;
}
.goalimg{
	width: 50px;
}
.goal-p{
	color:  #5B4434;
	font-size: 26px;
	font-family: Microsoft JhengHei;
	padding-top: 2%;
}
.goaltext{
	transform:scale(1,1);
	transition: all 0.1s ease-out;
}
.goaltext:hover{
	transform:scale(0.9,0.9);
}
.expect{
	text-align: center;
	background: #8F857D;
	border-radius:25px;
}
.expectimg{
	width: 120px;
	height: 120px;
	margin-top: 10%;
	margin-bottom: 10%;
}

.expect-p{
	font-size: 20px;
	font-family: Microsoft JhengHei;
	color: #F8F6F7;
	text-align: left;
	margin-top: 10%;
	margin-bottom: 10%;
}
.lifeimg{
	overflow:hidden;
}
.lifeimg1{
	width: 360px;
	height:200px;
	transform:scale(1,1);
	transition: all 0.3s ease-out;
}
.lifeimg1:hover{
	transform:scale(1.1,1.1);
}
.lifemar{
	margin-top: 2%;
}
.lifeimg2{
	width: 250px;
	height: 350px;
	transform:scale(1,1);
	transition: all 0.3s ease-out;
}
.lifeimg2:hover{
	transform:scale(1.1,1.1);
}
.lifeimg3{
	width: 360px;
	height:270px;
	margin-bottom: 10%;
	transform:scale(1,1);
	transition: all 0.3s ease-out;
}
.lifeimg3:hover{
	transform:scale(1.1,1.1);
}
footer{
	text-align: center;
	background: #A9B5AE;
}
footer div{
	color: #F8F6F7;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
}
.backtotop {
    display:scroll;
    position:fixed;
    bottom:25px;
    right:25px;
    width: 50px;
	height: 50px;
}
