section{
	font-family: Microsoft JhengHei;
	color: #464646;
}
table thead{
	background: #565656;
	color: white;
}
.shoppingcart{
	margin-top: 5%;
	font-weight: bold;
}
.product-remove{
	text-align: center;
	width: 15%;
}
.product-thumbnail{
	width: 15%;
}
.product-name{
	width: 50%;
}
.product-name a{
	color: #565656;
}
.product-text{
	width: 8%;
	text-align: center;
}
.product-text a{
	color: #565656;
}
.product-text a:hover{
	color: #565656;
	font-weight: bold;
}
@media screen and (max-width:768px){
	.product-thumbnail{
		display: none;
	}
	.product-quantity input{
		width: 100%;
	}
}