
.series{
	width: 350px;
	margin-top: 15%;
	margin-bottom: 15%;
	padding-left: 2%;
	padding-right: 2%;
}
.hot{
	font-family: Microsoft JhengHei;
	color: #703209;
	font-size: 45px;
}

.s{
	border-top: 2px #703209 solid;
	padding-bottom: 3%;
}

.hotpro{
	width: 300px;
}
.promar{
	width: 350px;
	height: 350px;
}