.member{
	padding-top: 5%;
	padding-bottom: 5%;
}
.a1
{	font-family:"Microsoft JhengHei"; 
	border-style:solid; 
	border-color:#565656; 
    background-color: white;
    color:black;
    width: 60%;   
}
.a2
{   
	background-color:#565656;
	color:white; 
	text-align:center; 
}
.a3
{
	width:100%;
	text-align:center; 
	font-size:15px;
}
.a4
{   
	height:15px;  
}
.button{
	margin-top: 3%;
}